html {
    margin: 0;
    top: 0;
    bottom: 0;
    padding: 0;
}

body {
    width: auto;
    height: 990px;
    background: #f3f5fa;
    overflow-x: hidden;
}

// sidebar

.logo {
    width: 30px;
    height: 30px;
    position: absolute;
    z-index: 1;
}

.Brand {
    display: flex;
    align-items: center;
    font-style: normal;
    font-weight: 400;
    font-size: 18px;
    line-height: 22px;
    color: #4e36fc;
    width: 158px;
    height: 30px;
    top: 54px;
    left: 42px;
    position: relative;
    img {
        position: relative;
        margin: 0 22px 0 0;
    }
}

.Sidebar {
    position: absolute;
    width: 281px;
    height: 990px;
    left: 0px;
    top: 0px;
    bottom: 0;
    background: #ffffff;
    display: flex;
    flex-direction: column;
}

.SidebarContent {
    position: absolute;
    width: 151.6px;
    height: 328.08px;
    left: 36px;
    top: 167px;
    padding: 0;
    margin-top: 0;
    margin-bottom: 0;
    .ActiveList {
        font-style: normal;
        font-weight: 400;
        font-size: 18px;
        color: #4e36fc;
    }
    li {
        margin-bottom: 39.62px;
        margin-top: 0;
    }
    a {
        font-style: normal;
        font-weight: 400;
        font-size: 18px;
        line-height: 22px;
        color: #8a8b9f;
        display: flex;
        align-items: center;
    }
}

.Icon {
    margin-right: 21.38px;
}

.List {
    white-space: nowrap;
}

.ActiveDevice {
    position: relative;
    width: 209.19px;
    height: 202.3px;
    left: 32px;
    top: 615px;
    display: flex;
    flex-direction: column;
    bottom: 0;
}

.IphoneContent {
    display: flex;
    justify-content: space-between;
    width: 209.19px;
    height: 64px;
    padding: 0;
    align-items: center;
    margin-bottom: 28.51px;
    margin-top: 26.79px;
}

.IphoneStatus,
.MacStatus {
    display: flex;
    flex-direction: column;
    margin-right: 21.92px;
    .IphoneName,
    .MacName {
        font-style: normal;
        font-weight: 500;
        font-size: 12px;
        line-height: 14px;
        color: #5d4e7b;
        margin-bottom: 8.01px;
        width: 89px;
    }
    .IphoneStatusColor,
    .MacStatusColor {
        display: flex;
        align-items: center;
        font-style: normal;
        font-weight: 400;
        font-size: 12px;
        line-height: 14px;
        color: #5d4e7b;
    }
    #IconStatus {
        position: relative;
        width: 6.5px;
        height: 6.5px;
        margin-right: 7.78px;
        background: #3ecd7b;
        border-radius: 36px;
    }
}

.MacContent {
    display: flex;
    justify-content: space-between;
    width: 209.19px;
    height: 64px;
    padding: 0;
    align-items: center;
    margin-bottom: 62.7px;
    margin-top: 26.79px;
}

#User {
    position: relative;
    left: 14px;
}

// Content Dasboard

.DashboardContent {
    display: flex;
    flex-direction: column;
    position: absolute;
    left: 353px;
    top: 52px;
    bottom: 44px;
    width: calc(100% - 420px);
    max-width: 100%;
    height: auto;
    // min-height: 990px;
    // background-color: pink;
}

// Nav

.Navbar {
    display: flex;
    // justify-content: space-between;
    justify-content: space-between;
    position: relative;
    width: auto;
    min-width: 1014px;
    height: 99px;
}

.Welcome {
    // width: 50%;
    min-width: 592px;
    height: 98px;
    .Title {
        font-weight: 500;
        font-size: 21px;
        line-height: 25px;
        text-transform: uppercase;
        color: #151630;
        margin-bottom: 25px;
    }
    .CryptoList {
        display: flex;
        padding: 0;
        margin: 0;
        li {
            margin-right: 20px;
            width: 48px;
            height: 48px;
            .CryptoIconClick {
                width: 46px;
                height: 46px;
                border: 2px solid #ffffff;
                border-radius: 13px;
                display: flex;
                justify-content: center;
                align-items: center;
                position: relative;
                z-index: 1;
            }
            :active,
            :focus {
                position: relative;
                border: 2px solid #4f46ba;
                z-index: 1;
                outline: none;
            }
            .CryptoImage {
                border: none;
            }
        }
    }
}

.SearchContainer {
    // width: 50%;
    min-width: 325px;
    span {
        font-weight: 500;
        font-size: 21px;
        line-height: 25px;
        text-transform: uppercase;
        color: #151630;
    }
    form {
        display: flex;
        align-items: center;
        position: relative;
        top: 24px;
    }
    input {
        width: 257px;
        height: 48px;
        top: 0;
        background: #ffffff;
        padding: 0;
        border: none;
        position: relative;
        text-indent: 15px;
        &::placeholder {
            font-weight: 400;
            font-size: 12px;
            line-height: 14px;
            display: flex;
            align-items: center;
            color: #1e253a;
            opacity: 0.2;
        }
    }
    button {
        position: relative;
        width: 48px;
        height: 48px;
        left: 20px;
        top: 0;
        background: #4f46ba;
        border: none;
        padding: 0;
    }
}

// overview

.Overview {
    // background-color: blueviolet;
    width: 100%;
    min-width: 1011px;
    height: 498px;
    top: 142px;
    position: absolute;
    span {
        font-weight: 400;
        font-size: 20px;
        line-height: 24px;
        color: #0d1118;
    }
    .OverviewContainer {
        top: 26.85px;
        display: flex;
        justify-content: space-between;
        position: relative;
        .CoinContainer {
            width: 648.01px;
            height: 448px;
            display: flex;
            .WalletContainer {
                display: flex;
                flex-direction: column;
                justify-content: flex-end;
                width: 405.66px;
                .Coin {
                    width: 405.66px;
                    height: 269.74px;
                    background: #4f46ba;
                    top: 0;
                    position: absolute;
                    display: flex;
                    justify-content: space-around;
                    align-items: center;
                    .CoinInformation {
                        width: 158.21px;
                        height: 190.14px;
                        margin-left: 41.95px;
                        .BalanceInUSD {
                            display: flex;
                            flex-direction: column;
                            .TitleBalance {
                                font-style: normal;
                                font-weight: 400;
                                font-size: 12px;
                                line-height: 14px;
                                color: #ffffff;
                                margin-bottom: 9.09px;
                            }
                            #BalanceData {
                                font-style: normal;
                                font-weight: 400;
                                font-size: 30px;
                                line-height: 36px;
                                color: #ffffff;
                            }
                        }
                        .BalanceInformation {
                            .TransactionsContainer {
                                display: flex;
                                justify-content: space-between;
                                margin-top: 32.96px;
                                .Transactions {
                                    display: flex;
                                    flex-direction: column;
                                    .TransactionTitle {
                                        font-style: normal;
                                        font-weight: 400;
                                        font-size: 12px;
                                        line-height: 14px;
                                        color: #ffffff;
                                        margin-bottom: 12.58px;
                                    }
                                    #TransactionDetails {
                                        font-style: normal;
                                        font-weight: 400;
                                        font-size: 22px;
                                        line-height: 26px;
                                        color: #ffffff;
                                    }
                                }
                                .Wallets {
                                    display: flex;
                                    flex-direction: column;
                                    .WalletsTitle {
                                        font-style: normal;
                                        font-weight: 400;
                                        font-size: 12px;
                                        line-height: 14px;
                                        color: #ffffff;
                                        margin-bottom: 12.58px;
                                    }
                                    #WalletsDetails {
                                        font-style: normal;
                                        font-weight: 400;
                                        font-size: 22px;
                                        line-height: 26px;
                                        color: #ffffff;
                                    }
                                }
                            }
                            #LastActivity {
                                font-style: normal;
                                font-weight: 400;
                                font-size: 12px;
                                line-height: 14px;
                                color: #ffffff;
                                margin-top: 31.51px;
                            }
                        }
                    }
                }
                .WalletType {
                    display: flex;
                    justify-content: space-between;
                    .WalletPrimary {
                        background: #ffffff;
                        width: 193.68px;
                        height: 157.19px;
                        display: flex;
                        flex-direction: column;
                        justify-content: center;
                        align-items: center;
                        #WalletPrimaryTitle {
                            font-style: normal;
                            font-weight: 400;
                            font-size: 11px;
                            line-height: 13px;
                            letter-spacing: 0.04em;
                            color: #0d1118;
                            margin-bottom: 11.7px;
                        }
                        #WalletPrimaryData {
                            font-style: normal;
                            font-weight: 500;
                            font-size: 17px;
                            line-height: 20px;
                            letter-spacing: -0.02em;
                            color: #0d1118;
                            margin-bottom: 12.7px;
                            #CoinSymbol {
                                font-style: normal;
                                font-weight: 500;
                                font-size: 17px;
                                line-height: 20px;
                                letter-spacing: -0.02em;
                                color: #777e8a;
                                margin-left: 5px;
                            }
                        }
                    }
                    .WalletSecundary {
                        background: #ffffff;
                        width: 192.69px;
                        height: 157.19px;
                        display: flex;
                        flex-direction: column;
                        justify-content: center;
                        align-items: center;
                        #WalletSecundaryTitle {
                            font-style: normal;
                            font-weight: 400;
                            font-size: 11px;
                            line-height: 13px;
                            letter-spacing: 0.04em;
                            color: #0d1118;
                            margin-bottom: 11.43px;
                        }
                        #WalletSecundaryData {
                            font-style: normal;
                            font-weight: 500;
                            font-size: 17px;
                            line-height: 20px;
                            color: #0d1118;
                            margin-bottom: 12.65px;
                            #CoinSymbol {
                                font-style: normal;
                                font-weight: 500;
                                font-size: 17px;
                                line-height: 20px;
                                letter-spacing: -0.02em;
                                color: #777e8a;
                                margin-left: 5px;
                            }
                        }
                    }
                }
            }
            .CryptoComparison {
                display: flex;
                width: 202px;
                height: 448px;
                margin-left: 40.35px;
                ul {
                    padding-left: 0px;
                    margin: 0;
                    display: flex;
                    flex-direction: column;
                    justify-content: space-between;
                    position: relative;
                    .CryptoColor {
                        background-color: #d7f8e8;
                        width: 202px;
                        height: 97px;
                        display: flex;
                        flex-direction: column;
                        justify-content: center;
                        align-items: center;
                        .CoinType {
                            font-style: normal;
                            font-weight: 400;
                            font-size: 14px;
                            line-height: 17px;
                            color: #6b6570;
                            margin-bottom: 9px;
                        }
                        .CryptoStatus {
                            display: flex;
                            width: 100%;
                            justify-content: space-around;
                            align-items: center;
                            position: relative;
                            img {
                                width: 12.5px;
                                height: 12.5px;
                            }
                            .CryptoValue {
                                font-style: normal;
                                font-weight: 600;
                                font-size: 21px;
                                line-height: 25px;
                                color: #151630;
                                white-space: nowrap;
                            }
                        }
                    }
                }
            }
        }
        .CompaniesList {
            // width: 50%;
            width: 327px;
            height: 445px;
            padding: 0;
            ul {
                padding: 0;
                li:not(:last-child) {
                    margin-bottom: 15px;
                }
                li {
                    display: flex;
                    width: auto;
                    height: 77px;
                    .CompaniesListOptions {
                        background-color: #ffffff;
                        width: 100%;
                        height: auto;
                        display: flex;
                        align-items: center;

                        img {
                            width: 53px;
                            height: 53px;
                            margin-left: 18px;
                        }
                        .CompaniesListContainer {
                            display: flex;
                            justify-content: center;
                            flex-direction: column;
                            width: 100%;
                            margin: 0 18px;
                            div {
                                display: flex;
                                justify-content: space-between;
                                margin: 3px 0;
                            }
                            .CompaniesListName {
                                font-style: normal;
                                font-weight: 400;
                                font-size: 16px;
                                line-height: 19px;
                                color: #1e253a;
                            }
                            .CompaniesListValue {
                                font-style: normal;
                                font-weight: 500;
                                font-size: 16px;
                                line-height: 19px;
                                letter-spacing: 0.02em;
                                color: #f32323;
                            }
                            .CompaniesListType {
                                font-size: 14px;
                                line-height: 16px;
                                letter-spacing: 0.02em;
                                color: #838691;
                            }
                            .CompaniesListTime {
                                font-size: 14px;
                                line-height: 16px;
                                text-align: right;
                                letter-spacing: 0.02em;
                                color: #838691;
                            }
                        }
                    }
                }
            }
        }
    }
}
